.filter{
    color:#d9d9d9;
    font-family: 'Poppins-Regular', sans-serif;
    font-weight: 400;
    &__inner{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

.filter-sort{
    display: flex;
    justify-content: space-between;
    &__filter{
        display: flex;
    }

}


.filter-company{
    display: flex;
    font-size: 18px;
    font-family: 'MyriadPro-Regular';
    padding-bottom:20px;
        margin-bottom: 20px;
        border-bottom:1px solid #fff;
    &__item{
        cursor: pointer;
        &:not(:last-child){
            margin-right: 53px;
        }
    }

}

.filter-type{
    display: flex;
    align-items:center;
    &__item{
        position: relative;
        &:not(:last-child){
            margin-right:20px;
        }
    }
    &__label{
        display: flex;
    }
    &__checkbox{
    position: absolute;
    z-index: -1;
    }
    &__checkbox+&__label::before{
        content: '';
        display: inline-block;
        width: 1em;
        height: 1em;
        border-radius:5px;
        margin-right: 0.5em;
        background-color: #566269;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
    }
    &__checkbox:checked+&__label::before{
        background: #566269;
        color: #fff;
        content: "\2713";
        text-align: center;
    }
}

.filter-genre{
    position: relative;
    &__btn{
        position: relative;
        display: flex;
        border:none;
        background-color: #566269;
        color:#d9d9d9;
        border-radius:5px;
        padding: 12px 0px 12px 16px;
        width: 120px;
        &::after{
            content:'';
            position: absolute;
            width: 10px;
            height: 10px;
            border:2px solid #d9d9d9;
            border-top:none;
            border-right:none;
            transform: rotate(-45deg);
            margin-top:2px;
            right: 5px;
        }
    }
    &__list{
       display: none;
       position: absolute;
       background-color:#566269;
       margin-top:-3px;
       width:100%;
       z-index:2;
    }
    &__list--show{
        display:inline-block;
    }
    &__item{
        transition: 0.5s all;
         
    }
    &__item:hover{
        background: #84818175;
       
    }
    &__link{
        display: inline-block;
        width: 100%;
        padding: 12px 0px 12px 16px; 
        
    }
}

.filter-age{
    display: flex;
    align-items: center;
    flex-grow:1;
    &__name{
        margin-right: 22px;
    }
    &__rng{
        flex-basis: 350px;
        height:3px;
        background: #666666;
        position: relative;
        &-start, &-end{
            position: absolute;
            top:-6px;
            display: inline-block;
            width: 15px;
            height: 15px;
            background-color: #d9d9d9;
            border-radius:50%;
            z-index:2;
            cursor: pointer;
        }
        &-end{
            right:0;
    
        }
   
        &-start:before{
            content:attr(data-min);
            position: absolute;
            top:-20px;
            left:-10px;
            display: inline-block;
           
        }
        &-end:before{
            content:attr(data-max);
            position: absolute;
            top:-20px;
            left:-10px;
            display: inline-block;
          
        }
        &-overlay{
            height: 3px;
            background-color: #d9d9d9;
            position: absolute;
            left:0;
            right:0;
            z-index:1;
        }
    }

}

.sorts{
    display: flex;
    align-items: center;
    position: relative;
   margin-left: auto;
     &__current{
         display: inline-block;
         font-family: 'Poppins-Medium', sans-serif;
         font-weight: 500;
         color:#ffffff;
         cursor: pointer;
         &::after{
             content: '';
             display: inline-block;
             width: 8px;
             height: 8px;
             border: 2px solid #d9d9d9;
             border-top: none;
             border-right: none;
             -webkit-transform: rotate(-45deg);
             -ms-transform: rotate(-45deg);
             transform: rotate(-45deg);
             margin-left: 13px;
             margin-bottom: 3px;
         }
     }
     &__list{
         display: none;
         position: absolute;
         font-family: 'Poppins-Medium', sans-serif;
         font-weight: 500;
         color:#ffffff;
         right: 10px;
         top: 31px;
         &-item{
             border-bottom:1px solid #d9d9d9;
         }
         
     }
     &__list--show{
        display:inline-block;
     }
 }


@media(max-width:992px){
    .filter-age{
        &__rng{
            flex-basis: 180px;
        }
    
    }
}

@media(max-width:768px){
    .filter-age{
        &__rng{
            flex-basis: unset;
            width: 200px;
        }
    
    }

    .filter-sort{
        &__filter{
           // flex-direction: column;
           flex-wrap: wrap;
           justify-content: space-between;
        }
    
    }

    .sorts{
       margin-left: 0;
       &__list{
           top:20px;
       }
    }
         
}

