@import '_mixins.scss';
@import '_fonts.scss';
@import 'block.scss';


.container{
    display: flex;
    transition: all 1 ease-out;
    width:800px;
    margin: 0 auto;
    &__child{
        background-color:green;
        color:black;
    }
}