@import '_normalize.scss';
@import '_mixins.scss';
@import '_fonts.scss';
@import '_grid.scss';
@import '_header.scss';
@import '_slider.scss';
@import '_filter.scss';
@import '_movies.scss';

body{
    min-width: 320px;
    font-family:'Poppins-Regular', sans-serif;
}

.main{
    background-color: #2f3642;
    &__filter-type{
        margin-right: 17px;
    }
    &__filter-genre{
        margin-right: 17px;
    }
    &__movies-list{
        margin-top: 50px;
    }
}

@media(max-width:768px){
    .main{
        &__filter-age{
            margin-top: 20px;
        }
        &__sorts{
            margin-top: 20px;
        }
    }
}

.hidden{
    display:none;
}